# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

# intelliJ idea git ignore
*.iml
.idea

*target*
*.jar
*.war
*.ear
*.class

logs
reports
parser-messages.txt

#SQLit
interaction-data.tmp.db
interaction-data.tmp.db-journal

# DS Store
.DS_Store